footer{
    padding:100px 0;
    min-height: 600px;
    font-family: 'Poppins', sans-serif;
}
footer .column{
    margin-bottom:40px;
}
footer .footer_about_content{
    padding:0px;
    margin: 0px;
}
footer .footer_about_content .footer_logo{
    margin-bottom: 20px;
}
footer .footer_about_content a{
    font-size: 14px;
    color:#fff;
    margin-top: 0;
}
footer .navigations{
    padding: 0px;
    margin: 0px;
}
footer .navigations ul{
    list-style:none;
    padding: 0px;
    margin: 0px;
    margin-top:20px;
}
footer .navigations ul li{
    padding:0px 0 15px 0;
    padding-left: 15px;
}
footer .navigations ul li::before{
    content:url('../assets/img/footer_nav_arrow.png');
    left:-15px;
    position: relative;
    transition: all 0.1s ease;
}
footer .navigations ul li:hover::before{
    content:url('../assets/img/footer_nav_arrow.png');
    left:-10px;
    position: relative;
}
footer .navigations ul li a{
    color: #262626;
    font-size: 14px;
}
footer .contact_info{
    padding:0px;
    margin:0px;
}
footer .contact_info ul{
    margin-top: 20px;
}
footer .contact_info ul li{
    color: #262626;
    font-size: 14px;
    line-height: 24px;
    display:inline-flex;
    float:none;
    margin-bottom: 20px;
}
footer .contact_info i{
    margin-right:15px;
    height: auto;
    width:auto;
    float:left;
    margin-top:2px;
}
footer .contact_info .follow_us_on {
    margin-top: 10px;
    border-top:solid 1px #e6e6e6;
    padding-top: 20px;
}
footer .contact_info .follow_us_on a i::before{
    margin-right: 20px;
    font-size: 16px;
}
footer .newsletter{
    border:solid 1px #e6e6e6;
    padding:25px 30px;
    width: 100%;
}
footer .newsletter h4{
    padding-top:7px;
    margin: 0px;
}
footer .newsletter form{
    padding: 0px;
    margin:0px;
}
footer .newsletter form input[type="text"]{
    border:solid 1px #e6e6e6;
    padding:15px;
    color:#262626;
    font-size:14px;
    margin:0;
    width: 100%;
}
footer .newsletter form button[type="submit"]{
    border:none;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    width:100%;
}
footer .copyright{
    font-size: 14px;
    margin:30px 0 0;
    color: #262626;
}
footer .copyright a{
    color:#262626;
}